.zodiac-card {
  width: 200px;
  background-color: rgba(236, 111, 198, 0.448);
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.zodiac-card img {
  width: 100px;
}

img {
  height: 3em;
  width: 6em;
}
